<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tarea 1 Login Manuel González </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <form
      [formGroup]="formulario"
      (ngSubmit)="onSubmit(formulario.value)"
      novalidate
    >
      <ion-grid [fixed]="true">
        <ion-row class="ion-align-items-start">
          <ion-col>
            <ion-item>
              <ion-input
                label="E-mail"
                label-placement="floating"
                fill="solid"
                placeholder=""
                formControlName="email"
              ></ion-input>
            </ion-item>
            <br />
            <ion-item>
              <ion-input
                type="password"
                label="Password"
                label-placement="floating"
                fill="solid"
                placeholder=""
                formControlName="password"
              ></ion-input>
            </ion-item>
            <br />
            <ion-button [disabled]="formulario.invalid" type="submit"
              >Loguear</ion-button
            >
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="setearCampos('admin@gmail.com', '111111')"
              >Admin</ion-button
            >
            <ion-button (click)="setearCampos('user1@gmail.com', '111111')"
              >User 1</ion-button
            >
            <ion-button (click)="setearCampos('user2@gmail.com', '111111')"
              >User 2</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>


<ngx-spinner type="ball-scale-multiple"></ngx-spinner>